{% extends "base.html" %}
{% block content %}
  <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us..</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to our Ecommerce Website!</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                      <p align="justify">  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat doloribus similique in quo optio harum quia voluptas. Cum sed eius tempore explicabo cupiditate sit error animi? Deserunt architecto eligendi numquam?
                        Nisi, illum animi fugit totam beatae eum officiis libero, esse provident similique itaque. Voluptas, dolorem. Perferendis architecto neque soluta, incidunt ea accusantium necessitatibus numquam in esse iure veritatis voluptatibus doloremque?
                        Perspiciatis nemo voluptates reiciendis, hic nesciunt neque illum rem ipsa amet numquam nulla vel iste voluptatum tenetur mollitia eum consequuntur non error possimus harum aspernatur. Exercitationem veritatis consectetur aperiam alias?
                        Amet dolores tempore dignissimos nam incidunt quo sit dolore, ab maiores delectus cumque temporibus obcaecati ducimus? Odio tempora neque non magni enim excepturi rem voluptates commodi aperiam, placeat nulla alias.
                        Error a temporibus quisquam fuga repellat, sit corrupti consequatur mollitia nesciunt dolores maxime voluptatum molestias quia quasi explicabo perferendis sunt reiciendis voluptatibus dolorum accusamus cum, iste deleniti debitis. Laborum, error?
                        Commodi ut illum aut repellendus similique ipsam, reprehenderit hic, libero fuga molestiae eligendi vitae temporibus necessitatibus minima distinctio amet earum exercitationem iste? Tempora consectetur placeat delectus eum, dolores ipsum aliquid.
                        Quae accusamus consectetur blanditiis vel eligendi. Alias incidunt earum autem non, illo velit? Dignissimos, eligendi. Ducimus quasi autem dignissimos tempora impedit vel quisquam. Amet provident, expedita rem eos non hic?
                   </p> </div>
                </center>
            </div>
        </div>
{% endblock content %}